# Environment files
.env
.env.*
!.env.example

# Binaries and executables
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
out/

# Go specific 
vendor/
*.test
*.prof

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# System Files
Thumbs.db
.DS_Store
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
