name: Go CI

on:
  push:
    branches: [ "main", "gunavanth-dev", "niveditha-dev" ]
  pull_request:
    branches: [ "main", "gunavanth-dev", "niveditha-dev" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'
        cache: true

    - name: Install dependencies
      run: go mod download

    - name: Build
      run: go build -v ./cmd/server

    - name: Test
      run: go test -v ./...
